.Todo {
    max-width: 850px;
    margin: auto;
    text-align: center;
}

.Elements {
  margin: 10px,
}

.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditForm {
  height: 200px;
  width: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
}