.Todo {
    max-width: 850px;
    margin: auto;
    text-align: center;
}

.EditForm {
  height: 200px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: linen;
}

.EditForm>div {
  margin: 10px;
}

.EditForm Input, .EditForm Button {
  width: 600px;
}

.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CompletedTaskText {
  text-decoration: line-through;
}